h3, input[type=submit] {
  text-align: center;
}

.contactLinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#contactForm, form {
  margin: 0 auto;
  width: 90%;
}

#formContent {
  width: 100%;
}



form {
  width: 90%;
  display: flex;
  flex-direction: column;

}

#formRight {
  width: 60%;
}

label,input, textarea {
  min-width: 40%;
  margin: 0.5em 0.5em;
}

textarea {
  height: 15em;
}

input:focus, textarea:focus {
  border: 5px solid #891652;
  background-color: lightcyan;
  color: #000;
}

input[type=submit] {
  padding: 0.5em;
  width: 60%;
  /* margin: 1em auto 2em auto; */
  background-color: #891652;
  color: #fff;
  border-radius: 10px;
}

input[type=submit]:hover {
  background-color: #EABDD8;
  color: #240a34;
  --webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  border: 1px solid #000;
}
a:hover {
  --webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

#formContent {
  justify-content: center;
  display: flex
}

#formLeft { 
  place-self: flex-start;
}

.contactLinks li { 
  display: flex !important; 
  justify-content: space-between;
}

#messageSent {
  height: fit-content;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  background-color: lightgreen;
  color: #000;
  padding: 10px;
}

.contactLinks li span {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
@media (max-width: 650px) {
  #container  {
      display: flexbox !important;
      max-width: 100% !important;
      flex-direction: row !important;
      flex-grow: inherit !important;
      flex-grow: initial;
      flex-wrap: wrap;
  }

  #container #left, #container #right{
      width: fit-content;
      min-width: 100%;
  }
}

@media (min-width: 767px) {
  #left, #right {
      /* width: 50%; */
  
  }
  
} 


/* ----------------------------------------------
 * Generated by Animista on 2024-12-16 10:38:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- *

 *
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
