#container {
    flex-direction: column !important;
    width: 80%;
    margin: 0 auto;
}

* { 
    /* text-align: left; */
    
}

#container h2
{
    text-align: center;
    clear: both;
    width: 100%;
}

ul, p {
    width: 90%;
    text-align: left;
}

p {
    text-align: justify;
}

em {
    font-size: medium;
}

h2, h3 {
    text-decoration: underline;
}

h3 {
    margin-bottom: 0.25em;
}

#actions {
    align-self: flex-start;
    margin: 2em 0 0.5em 0;
    justify-content: space-evenly;
    width: 100%;
    display: flex; 
    flex-direction: row;
}

#container a {
    margin: 0.5em 0.5em 1.5em 0.5em;
    padding: 1em 0;
    color: #fff;
    background-color: #891652;
    width: 9em;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #fff;
}

#container a:hover {
    background-color: #EABDD8;
    color: #240a34;
    border: 1px solid #000;
    --webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

#actions a { 
    margin: 0 0.25em;
    display: block;
    width: 10em;
}

#actions button {
    background-color: #891652;
    color: white;
    border: 2px solid #000;
}

#actions button {
    width: 10em;
    height: 3em;
}

.reference { 
    padding: 0.25em !important;
}

span {
    font-style: italic;
    font-size: smaller;
}

.row {
        display: flex;
    flex-direction: row;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-12-16 11:49:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- 

*
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  