/* Universal Presets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global CSS Variables */
:root {
  --body-bg: #fef2dc;
  --header-text: #fef7e9;
  --body-text: #050505;
  --headings: #b65949;
  --primary: #006361;
  --primary-shadow: #0d4645;
  --secondary: #d8a25a;
  --secondary-shadow: #ab8147;
  --white: #ffffff;
}
