table
{
    width: 60%;
    display: block;
}

#container
{
    width: 80%;
}

#container > *
{
    width: 100%;
}

td
{
    width: max-content;
}

h2
{
    text-align: center;
}

button
{
    width: 50rem;
    height: 5rem;
    margin: 0 auto;
    left: inherit;
    display: block;
    float: center;
    border: 1px solid #000;

}