/*  */
/* Generic Elements */
/*  */


/*  */
/* Header */
/*  */
header
{
    display: block;
    background-color: #333333;
}

#headerTitle
{
    text-align: center;
    float: left;
    font-size: 2em;
    top: 30px;
    left: 100px;
    width: 30%;
    margin: 30px auto;

}

#navParent
{
    float: right;
    right: 100px;
}

#navParent li
{
    display: inline-block;
    height: auto;
    width: 100px;
    height: 40px;
    padding: 0 0.25rem;
    margin: 30px 0.25rem;
    background-color: #eee;
    text-align: center;
}

#navParent a
{
    padding: 20px;
}

/*  */
/* Main Container  */
/*  */
#messages
{
    display: block;
    text-align: center;
    clear: both;
    height: max-content;
    width: 100%;

}

.message
{
    color: white;
    font-weight: 900;
    font-size: 30px;
    color: #333;
    text-align: center;
}

#container,
header,
footer
{
    clear: both;
    margin: 0 auto;
}

/*  */
#content
{
    margin: 0 auto;
    background-color: grey;
}

/* Home - Index */

/*  */
/* Footer */
/*  */
footer
{
    top: 100px;

}

footer h2
{
    width: max-content;
    margin: 30px auto;

}

/* All prooducts */
/* Details Page */

/* Footer */
footer,
#footer
{
    width: 1.0rem;
    display: block;

}


/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
{
    body
    {
        background-color: white;
    }
}

/* Smartphones (landscape) */
@media only screen and (min-width: 321px)
{

    #container,
    header,
    footer,
    nav
    {
        width: 90%;
    }

    /* Main content */
    #content
    {
        width: 300px;
    }

    #listParent li
    {
        width: 250px;
        padding: 12.5px;
        margin: 12.5px auto;
    }
}

/* Smartphones (portrait) */
@media only screen and (max-width: 320px)
{

    header h1
    {
        text-align: center;
        width: 1rem;
    }

    header nav
    {
        margin: 0 auto;
    }
}

/* iPads(portrait and landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
{}

/* iPads (landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
{}

/* iPads (portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{}

/*  Desktops and laptops */
@media only screen and (min-width: 1224px)
{

    #container,
    header,
    footer,
    nav
    {
        width: 84%;

    }

    /* #listParent li {} */
}

/*  Large Screens */
@media only screen and (min-width: 1824px)
{

    #container,
    header,
    footer,
    nav
    {
        width: 60%;
    }

    body
    {
        background-color: grey;
    }

}

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
{}