#listParent
{
    display: inline-block;
    width: 100% !important;
    margin: 0 auto;
    left: 0px;
    padding: 0px;

}

#listParent li
{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 30%;
    padding: 2.5px;
    margin: 1px auto;
}

#listParent a
{
    clear: both;
    height: min-content;
}

#listParent img
{

    clear: both;
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

#listParent h4
{
    width: 100%;
    font-size: 14px;
    height: 20px;
    text-align: center;
}